@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

/*
Red
#c0392b

Green
#2ecc71

Golden
#f1c40f

White
#ecf0f1

Black
#2c3e50
*/

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

#header{
    background-color: #2c3e50;
    height: 180px;
    margin-top: 0;
    color: #ecf0f1;
}
#header h1 {
    text-align: center;
    font-size: 46px;
}

#header p{
    margin-top: 10px;
    text-align: center;
}

#header form{
    position: relative;
    min-width: 275px;
}

#header .btn{
    background-color: #fff;
    color: #2c3e50;
    border-radius: 0;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 1px;
}

#header div{
    width: 50%;
    margin: 0 auto;
    min-width: 275px;
}

#header input[type=search]{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid #fff;
    padding: 5px 7px;
    box-sizing: border-box;
    min-width: 275px;
    color: #2c3e50;
}

#results, #pagination{
    padding-left: 40px;
}

#results h2{
    width: 220px;
}

#results ul li{
    display: inline-block;
    list-style: none;
    width: 220px;
    float: left;
}

#results #person ul li{
    min-height: 410px;
}

#results #movies ul li, #results #tv ul li{
    min-height: 335px
}

#results h5, #results h4, #results h6 {
    max-width: 215px;
}
