<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
         === Movie Finder ===
        </title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/ui-bootstrap-custom-tpls-0.13.0.js"></script>
        <script src="js/movieFinder.js"></script>
        <script src="js/movieFinderCtrl.js"></script>
    </head>
    <body data-ng-app="movieFinder" data-ng-controller="movieFinderCtrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" id="header">
                    <div>
                        <h1><label for="search">Movie Finder</label></h1>
                        <form class="form-horizontal" data-ng-submit="search();initSearch()">
                            <input id="search" type="search" data-ng-model="query" placeholder="Search a movie, person or TV show">
                            <button class="btn" data-ng-click="search();initSearch()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                        <p>Type a name of movie, an actor or a TV show to search for information about that.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" data-ng-hide="zeroState" id="results">
                <h1>Results <small>{{ totalItems }} itens found!</small></h1>
                <div data-ng-class="colClass" data-ng-show="hasMovies" id="movies">
                    <ul>
                        <h2>Movies</h2>
                        <li data-ng-repeat="movie in movies track by $index | orderBy:'title' ">
                          <img src="{{ movie.poster_path }}" width="185" height="260">
                            <h5><a href="#" data-ng-click="movieDetails(movie.id)">{{ movie.title }} {{movie.release_date | date: '- yyyy'}}</a></h5>
                        </li>
                    </ul>
                </div>
                <div data-ng-class="colClass" data-ng-show="hasActors" id="person">
                    <ul>
                        <h2 class="clear:both">Persons</h2>
                        <li data-ng-repeat="actor in actors track by $index | orderBy:'name' ">
                          <img src="{{ actor.profile_path }}" width="185" height="260">
                            <h4><a href="#" data-ng-click="personDetail(actor.id)">{{actor.name}}</a></h4>
                            <h5 data-ng-if="actor.known_for != null">Known for:</h5>
                            <h6 data-ng-repeat="mv in actor.known_for">
                                <a data-ng-if="mv.title != null" href="#" data-ng-click="movieDetails(mv.id)">{{ mv.title }}</a>
                                <a data-ng-if="mv.name != null" href="#" data-ng-click="tvDetails(mv.id)">{{ mv.name }}</a>
                            </h6>
                        </li>
                    </ul>
                </div>
                <div data-ng-class="colClass" data-ng-show="hasTV" id="tv">
                    <ul>
                        <h2 class="clear:both">TV</h2>
                        <li data-ng-repeat="show in tv track by $index | orderBy:'name' ">
                          <img src="{{ show.poster_path }}" width="185" height="260">
                            <h5><a href="#" data-ng-click="showDetails(show.id)">{{ show.name }} {{show.first_air_date | date: '- yyyy'}}</a></h5>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12" data-ng-hide="hasActors || hasMovies || hasTV">
                        <h2>No matches found!</h2>
                </div>
            </div>
            <div class="row" data-ng-show="hasPagination" id="pagination">
                    <div class="col-sm-12">
                        <pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="search()"></pagination>
                    </div>
            </div>
        </div>
    </body>
</html>
